.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.top_block {
  display: flex;
  justify-content: space-between;
}

.users_block {
  border: 1px solid black;
  width: 45%;
  justify-content: center;
  padding: 10px;
}

.users_block h3{
  margin-left: 70px;
}

.posts_block {
  border: 1px solid black;
  width: 45%;
  padding: 10px;
}

.posts_block h3 {
  margin-left: 300px;
}

.comments_block {
  border: 1px solid black;
  padding: 10px;
}

.comments_block h3 {
  margin-left: 700px;
}